/* Home page styling sheet */

/* General element styling */


* { 
	margin: 0; padding: 0; }
		
html { 
	background: url(../images/b14.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;}

p { 
	font: 15px/2 Georgia, Serif;
	margin: 0 0 30px 0; text-indent: 40px;}

body {
	overflow-x: hidden;}

a {
	font-size: 1.3em;
	font-family: Lato;
	text-decoration: none;
	color: black;}

/* Class styling */

.bold {
	font-family: Lato;
	font-weight: bold;}

.socialicon {
	z-index:100;
	position: relative;
	margin: auto;
	padding: 10px;
	display: inline-block;
	vertical-align: middle;}

/* Specific ID styling */

#menu {
	z-index:100;
	position:absolute;
	border: 3px solid black;
	border-left: 0px;
	font-size: 1.3em;
	font-family: Lato;
	text-decoration: none;
	background-color: white;
	top: 10%;
	padding: 0px 0px 0px 5px;}

#menuicon {
	z-index:200;
	position:relative;
	vertical-align: middle;
	display: inline-block;
	float: left;}

#socialIconBar {
	position: relative;
	vertical-align: middle;
	display: table;
	float: right;}

#header {
	z-index:100;
	position:fixed;
	top: 0%;
	margin: auto;
	height: 10%;
	width: 100%;
	background-color: white;
	display: table;
	border-bottom: 3px solid black;}

#title {
	z-index:100;
	position:relative;
	display: inline-block;
	color:black;
	font-size:2.8em;
	font-family: 'Josefin Slab', serif;
	left:20%;
}

#quote {
	z-index:100;
	position:fixed;
	color:white;
	font-size:22px;
	font-family: 'Josefin Slab', serif;
	left:51%;
	top:61%;
}

#viewcount {
	position: fixed;
	top:93%;
	left:80%;
	color: black;
	font-size: 18px;
	font-family: 'Josefin Slab', serif;
	z-index: 100;
}
		
#page-wrap { 
	width: 400px; margin: 50px auto; 
	padding: 20px; background: white; 
	-moz-box-shadow: 0 0 20px black; 
	-webkit-box-shadow: 0 0 20px black; 
	box-shadow: 0 0 20px black; }
/*
#demo-top-bar {
	text-align: left;
	background: #222;
	position: relative;
	zoom: 1;
	width: 100% !important;
	z-index: 6000;
	padding: 20px 0 20px;}

#demo-bar-inside {
	width: 960px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;}

#demo-bar-buttons {
	padding-top: 10px;
	float: right;}

#demo-bar-buttons a {
	font-size: 12px;
	margin-left: 20px;
	color: white;
	margin: 2px 0;
	text-decoration: none;
	font: 14px "Lucida Grande", Sans-Serif !important;}

#demo-bar-buttons a:hover, #demo-bar-buttons a:focus {
	text-decoration: underline;}
	
#demo-bar-badge {
	display: inline-block;
	width: 302px;
	padding: 0 !important;
	margin: 0 !important;
	background-color: transparent !important;}

#demo-bar-badge a {
	display: block;
	width: 100%;
	height: 38px;
	border-radius: 0;
	bottom: auto;
	margin: 0;
	background: url(/images/examples-logo.png) no-repeat;
	background-size: 100%;
	overflow: hidden;
	text-indent: -9999px;}

#demo-bar-badge:before, #demo-bar-badge:after {
	display: none !important;} */
     
